.login-container {
  max-width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.input-container {
  margin-bottom: 16px;
}

.input-label {
  display: block;
  margin-bottom: 8px;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.login-button {
  width: 50%;
}

.mt-200 {
    margin-top: 200px;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
